.home-container {
    padding: 40px;
}

.hero {
    height: 70vh;

    display: flex;
    flex-direction: column;

    justify-content: center;
    align-items: center;

    text-align: center;

    background: linear-gradient(135deg,
            #b7ffb7,
            #f4ffd6);

    border-radius: 20px;
}

.hero h1 {
    font-size: 50px;

    margin-bottom: 20px;
}

.hero p {
    font-size: 20px;

    margin-bottom: 30px;
}

.hero button {
    padding: 15px 30px;

    border: none;

    border-radius: 10px;

    cursor: pointer;

    font-size: 18px;

    font-weight: bold;
}