.not-found {
    height: 80vh;

    display: flex;

    flex-direction: column;

    justify-content: center;
    align-items: center;

    gap: 20px;
}

.not-found h1 {
    font-size: 100px;

    color: crimson;
}

.not-found p {
    font-size: 24px;
}

.not-found a {
    padding: 12px 20px;

    background: black;

    color: white;

    border-radius: 10px;

    text-decoration: none;
}