.header {
    padding: 10px 20px;

    display: flex;

    align-items: center;

    justify-content: space-between;

    flex-wrap: wrap;

    gap: 20px;

    font-size: 1rem;

    font-family: Arial, Helvetica, sans-serif;

    border: 1px solid black;

    border-radius: 5px;

    background-color: hsl(111, 74%, 75%);

    font-weight: bold;
}

.header .logo {
    display: flex;
    align-items: center;
    cursor: pointer;
}

.header .logo img {
    width: 50px;
    height: 50px;
    border-radius: 5px;
    object-fit: cover;
}

.header .navigation {
    display: flex;
    gap: 20px;
    flex-wrap: wrap;
}

.header .search {
    display: flex;
    flex: 1;
    max-width: 400px;
}

.header .search input {
    width: 100%;
    padding: 10px;
    border-radius: 5px;
    border: none;
    outline: none;
    font-weight: bold;
}

.header .search button {
    padding: 10px 15px;
    border-radius: 5px;
    border: none;
    font-weight: bold;
    background-color: hsla(61, 46%, 48%, 0.767);
    cursor: pointer;
}

.header .nav-right {
    display: flex;
    gap: 20px;
    flex-wrap: wrap;
}

.header .nav-right .login-container {
    display: flex;
    gap: 10px;
}

@media (max-width: 768px) {
    .header {
        flex-direction: column;
        align-items: stretch;
    }

    .header .logo {
        display: none;
    }

    .header .navigation {
        justify-content: center;
    }

    .header .search {
        max-width: 100%;
    }

    .header .nav-right {
        justify-content: center;
    }
}